In [8]:
import pandas as pd
import sqlalchemy as sa

In [3]:
df = pd.read_parquet('~/Documents/data/taxi_data/taxi_data.parquet', engine='pyarrow')

In [5]:
df.dtypes

taxi_id                        float64
trip_start_timestamp    datetime64[ns]
trip_end_timestamp      datetime64[ns]
trip_seconds                   float64
trip_miles                     float64
fare                           float64
tips                           float64
trip_total                     float64
payment_type                    object
dtype: object

In [10]:
engine = sa.create_engine('postgresql://admin:admin@localhost/testdb')

In [12]:
df.to_sql('taxi_data', engine)

ValueError: Table 'taxi_data' already exists.